{{ define "header" }}
{{ partial "heading.html" . }}
{{ end }}

{{ define "main" }}
<main>
    <section class="content">
        {{ .Content }}
    </section>
    {{ $related := .Site.Taxonomies.tags.Get (lower .Title) }}
    {{ if (gt (len $related) 0)}}
    <section class="related mt-8">
        <h3 class="heading text-xl mb-4">Related Content</h3>
        {{ range $related.Pages.GroupByDate "Jan &rsquo;06" }}
        {{ partial "list-group.html" . }}
        {{ end }}
    </section>
    {{ end }}
</main>
{{ end }}