{{ define "main" }}
<div class="-mt-12">
{{ partial "heading.html" . }}
<main class="heading text-xl content mb-8 text-neutral-800">
    {{ .Content }}
</main>
</div>
<aside class="aside ~urge !normal text-sm">
    <strong class="font-semibold">This page is for a micro, which is a short tweet-like post.</strong> (That's why this page is nearly empty.) I recommend reading them together; click on "micros" in the navbar to see the most recent micros in reverse chronological order.
</aside>
{{ end }}