@import url('https://rsms.me/inter/inter.css');

html,
body,
button,
input,
select,
textarea {
    font-family: 'Inter', sans-serif !important;
}

html {
    scroll-behavior: smooth;
}

@supports (font-variation-settings: normal) {

    html,
    body,
    button,
    input,
    select,
    textarea {
        font-family: 'Inter var', sans-serif !important;
    }
}

p {
    color: black;
}

a {
    text-decoration: underline !important;
}

#about, .about-a, #about a, #about .title, .title.name {
    border-bottom-color: rebeccapurple !important;
    color: rebeccapurple !important;
    text-decoration-color: rebeccapurple !important;
}

#contact, .contact-a, #contact a, #contact .title {
    border-bottom-color: #ff6666 !important;
    color: #ff6666 !important;
    text-decoration-color: #ff6666 !important;
}

#portfolio, .portfolio-a, #portfolio a, #portfolio .title {
    border-bottom-color: #1b998b !important;
    color: #1b998b !important;
    text-decoration-color: #1b998b !important;
}

#elsewhere, .elsewhere-a, #elsewhere a, #elsewhere .title {
    border-bottom-color: #0072bb !important;
    color: #0072bb !important;
    text-decoration-color: #0072bb !important;
}

.bottombreak {
    padding-bottom: 3em;
}