@import url('https://rsms.me/inter/inter.css');

html,
body,
button,
input,
select,
textarea {
    font-family: 'Inter', sans-serif !important;
}

html {
    scroll-behavior: smooth;
}

@supports (font-variation-settings: normal) {

    html,
    body,
    button,
    input,
    select,
    textarea {
        font-family: 'Inter var', sans-serif !important;
    }
}

p, .is-black {
    color: black;
}

a {
    text-decoration: underline !important;
}

#about,
.about-a,
#about a,
#about .title,
.title.name {
    border-bottom-color: #000080 !important;
    color: #000080 !important;
    text-decoration-color: #000080 !important;
}


#now,
.now-a,
#now a,
#now .title {
    border-bottom-color: #940074 !important;
    color: #940074 !important;
    text-decoration-color: #940074 !important;
}

#portfolio,
.portfolio-a,
#portfolio a,
#portfolio .title {
    border-bottom-color: #D7005C !important;
    color: #D7005C !important;
    text-decoration-color: #D7005C !important;
}

#contact,
.contact-a,
#contact a,
#contact .title {
    border-bottom-color: #FB6945 !important;
    color: #FB6945 !important;
    text-decoration-color: #FB6945 !important;
}

.bottombreak {
    padding-bottom: 3em;
}

hr {
    margin: 12px 0 12px 0 !important;
    background-color: #f6f6f6;
}