---
new_page_extension: md
auto_deploy: false
admin_path: 
webhook_url: 
sections:
- type: heading
  label: Content
- type: directory
  path: content/posts
  label: Posts
  create: all
  match: "**/*"
- type: directory
  path: content/portfolio
  label: Portfolio
  create: all
  match: "**/*"
- type: directory
  path: content/micros
  label: Micros
  create: all
  match: "**/*"
- type: directory
  path: content/errata
  label: Errata
  create: all
  match: "**/*"
- type: directory
  path: content/cool
  label: Cool
  create: all
  match: "**/*"
- type: heading
  label: Metadata
- type: directory
  path: content/tags
  label: Tags
  create: all
  match: "**/*"
- type: directory
  path: content
  label: Pages
  create: all
  match: "*"
upload_dir: static/media
public_path: "/media"
front_matter_path: ''
use_front_matter_path: false
file_template: ":filename:"
build:
  preview_env:
  - HUGO_ENV=staging
  - HUGO_VERSION=0.71.1
  preview_output_directory: public
  preview_docker_image: forestryio/hugo:latest
  mount_path: "/srv"
  working_dir: "/srv"
  instant_preview_command: hugo server -D -E -F --renderToDisk -d public
version: 0.71.1
