h1, h2, h3, h4, h5, h6, .mono {
  font-family: 'Roboto Mono', monospace;
}

p {
  font-family: 'Roboto', sans-serif;
}

.sidebar {
  background-color: black;
  color: white;
  height: 100vh;
  padding-top: 5px;
  position: fixed;
}

a {
  color: inherit;
  text-decoration: underline;
}

a:hover {
  color: inherit;
  background-color: black;
  filter: invert(100%);
  text-decoration: none;
}

.body {
  color: black;
}

.outer {
  max-width: 100%;
}

hr {
  border: none;
  height: 1px;
  color: black;
  background-color: black;
}

.sidebar hr {
  color: white;
  background-color: white;
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.bottom {
  bottom: 0px;
  position: absolute;
}

.main {
  padding-top: 5px;
  position: relative;
}
