@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,700;1,400;1,700&family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .fade-in {
      animation-name: fade-in, from-bottom-10px;
      animation-duration: 500ms;
      animation-timing-function: cubic-bezier(.4,0,.2,1);
      animation-fill-mode: none;
      will-change: transform, opacity;
  }

  @keyframes fade-in {
    0% {
        opacity:0
    }

    to {
        opacity:100
    }
  }

  @keyframes from-bottom-10px {
    0% {
        transform:translateY(10px)
    }

    to {
        transform:translateY(0)
    }
  }
  
  .content {
    @apply prose prose-neutral text-[18px] leading-relaxed dark:prose-invert max-w-full prose-headings:font-sans prose-headings:text-base prose-headings:mb-6 prose-headings:mt-12 prose-headings:font-medium font-serif opacity-[90%] prose-a:text-neutral-700 dark:prose-a:text-neutral-300 prose-a:decoration-2;
  }

  .content a {
    @apply underline decoration-neutral-400 dark:decoration-neutral-500 transition-all;
  }

  .content :where(blockquote p:first-of-type):not(:where([class~="not-prose"] *))::before {
    content: "" !important;
  }
  
  .content a:hover {
    @apply !text-neutral-500 dark:!text-neutral-300 decoration-neutral-300 dark:decoration-neutral-600;
  }
  
  .vertical {
    writing-mode: vertical-rl;
  }
  
  .sticky-top {
    position: sticky;
    top: 1rem;
  }
  
  code,
  kbd,
  pre {
    font-size: 0.8em;
  }
}

.MathJax {
  overflow-x: auto;
  overflow-y: hidden;
}

/* Syntax highlighting */
.highlight .hll {
  background-color: var(--color-warning-100);
}
.highlight .c {
  color: var(--color-neutral-600);
  font-style: italic;
} /* Comment */
.highlight .err {
  color: var(--color-warning-700);
  background-color: #e3d2d2;
} /* Error */
.highlight .k {
  color: var(--color-neutral-900);
  font-weight: bold;
} /* Keyword */
.highlight .o {
  color: var(--color-neutral-900);
  font-weight: bold;
} /* Operator */
.highlight .cm {
  color: var(--color-neutral-600);
  font-style: italic;
} /* Comment.Multiline */
.highlight .cp {
  color: var(--color-neutral-600);
  font-weight: bold;
  font-style: italic;
} /* Comment.Preproc */
.highlight .c1 {
  color: var(--color-neutral-600);
  font-style: italic;
} /* Comment.Single */
.highlight .cs {
  color: var(--color-neutral-600);
  font-weight: bold;
  font-style: italic;
} /* Comment.Special */
.highlight .gd {
  color: var(--color-neutral-900);
  background-color: #ffdddd;
} /* Generic.Deleted */
.highlight .ge {
  color: var(--color-neutral-900);
  font-style: italic;
} /* Generic.Emph */
.highlight .gr {
  color: var(--color-warning-500);
} /* Generic.Error */
.highlight .gh {
  color: var(--color-neutral-600);
} /* Generic.Heading */
.highlight .gi {
  color: var(--color-neutral-900);
  background-color: #ddffdd;
} /* Generic.Inserted */
.highlight .go {
  color: var(--color-neutral-700);
} /* Generic.Output */
.highlight .gp {
  color: var(--color-neutral-700);
} /* Generic.Prompt */
.highlight .gs {
  font-weight: bold;
} /* Generic.Strong */
.highlight .gu {
  color: var(--color-neutral-700);
} /* Generic.Subheading */
.highlight .gt {
  color: var(--color-warning-500);
} /* Generic.Traceback */
.highlight .kc {
  color: var(--color-neutral-900);
  font-weight: bold;
} /* Keyword.Constant */
.highlight .kd {
  color: var(--color-neutral-900);
  font-weight: bold;
} /* Keyword.Declaration */
.highlight .kn {
  color: var(--color-neutral-900);
  font-weight: bold;
} /* Keyword.Namespace */
.highlight .kp {
  color: var(--color-neutral-900);
  font-weight: bold;
} /* Keyword.Pseudo */
.highlight .kr {
  color: var(--color-neutral-900);
  font-weight: bold;
} /* Keyword.Reserved */
.highlight .kt {
  color: var(--color-urge-800);
  font-weight: bold;
} /* Keyword.Type */
.highlight .m {
  color: var(--color-info-700);
} /* Literal.Number */
.highlight .s {
  color: var(--color-positive-600);
} /* Literal.String */
.highlight .na {
  color: var(--color-info-700);
} /* Name.Attribute */
.highlight .nb {
  color: var(--color-info-700);
} /* Name.Builtin */
.highlight .nc {
  color: var(--color-urge-800);
  font-weight: bold;
} /* Name.Class */
.highlight .no {
  color: var(--color-info-700);
} /* Name.Constant */
.highlight .nd {
  color: var(--color-neutral-700);
  font-weight: bold;
} /* Name.Decorator */
.highlight .ni {
  color: var(--color-urge-700);
} /* Name.Entity */
.highlight .ne {
  color: var(--color-critical-600);
  font-weight: bold;
} /* Name.Exception */
.highlight .nf {
  color: var(--color-critical-600);
  font-weight: bold;
} /* Name.Function */
.highlight .nl {
  color: var(--color-critical-600);
  font-weight: bold;
} /* Name.Label */
.highlight .nn {
  color: var(--color-neutral-700);
} /* Name.Namespace */
.highlight .nt {
  color: var(--color-info-800);
} /* Name.Tag */
.highlight .nv {
  color: var(--color-info-700);
} /* Name.Variable */
.highlight .ow {
  color: var(--color-neutral-900);
  font-weight: bold;
} /* Operator.Word */
.highlight .w {
  color: var(--color-info-900);
} /* Text.Whitespace */
.highlight .mf {
  color: var(--color-info-700);
} /* Literal.Number.Float */
.highlight .mh {
  color: var(--color-info-700);
} /* Literal.Number.Hex */
.highlight .mi {
  color: var(--color-info-700);
} /* Literal.Number.Integer */
.highlight .mo {
  color: var(--color-info-700);
} /* Literal.Number.Oct */
.highlight .sb {
  color: var(--color-positive-600);
} /* Literal.String.Backtick */
.highlight .sc {
  color: var(--color-positive-600);
} /* Literal.String.Char */
.highlight .sd {
  color: var(--color-positive-600);
} /* Literal.String.Doc */
.highlight .s2 {
  color: var(--color-positive-600);
} /* Literal.String.Double */
.highlight .se {
  color: var(--color-positive-600);
} /* Literal.String.Escape */
.highlight .sh {
  color: var(--color-positive-600);
} /* Literal.String.Heredoc */
.highlight .si {
  color: var(--color-positive-600);
} /* Literal.String.Interpol */
.highlight .sx {
  color: var(--color-positive-600);
} /* Literal.String.Other */
.highlight .sr {
  color: var(--color-positive-700);
} /* Literal.String.Regex */
.highlight .s1 {
  color: var(--color-positive-600);
} /* Literal.String.Single */
.highlight .ss {
  color: var(--color-critical-800);
} /* Literal.String.Symbol */
.highlight .bp {
  color: var(--color-neutral-600);
} /* Name.Builtin.Pseudo */
.highlight .vc {
  color: var(--color-info-700);
} /* Name.Variable.Class */
.highlight .vg {
  color: var(--color-info-700);
} /* Name.Variable.Global */
.highlight .vi {
  color: var(--color-info-700);
} /* Name.Variable.Instance */
.highlight .il {
  color: var(--color-info-700);
} /* Literal.Number.Integer.Long */

.content pre {
  background-color: var(--color-neutral-100);
}

.transition-opacity {
  transition: opacity 100ms ease-in-out;
}

[x-cloak] {
  display: none !important;
}
