:root {
    --family-primary: "Vollkorn", Georgia, serif;
    --family-secondary: "Inter", sans-serif;
    font-size: 18px;
}

.family-primary {
    font-family: var(--family-primary);
}

.family-secondary {
    font-family: var(--family-secondary);
}

.portal {
    font-family: var(--family-secondary);
}

.vertical {
    writing-mode: vertical-rl;
}

.sticky-top {
    position: sticky;
    top: 1rem;
}
