@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import 'a17t/dist/a17t.css';
@import 'a17t/dist/tailwind.css';


:root {
    --color-urge-900-root: #091b00;
    --color-urge-800-root: #1c3004;
    --color-urge-700-root: #30451b;
    --color-urge-600-root: #465b2f;
    --color-urge-500-root: #5d7245;
    --color-urge-400-root: #748a5b;
    --color-urge-300-root: #8da272;
    --color-urge-200-root: #a6bc8b;
    --color-urge-100-root: #bfd6a3;
    --color-urge-000-root: #d9f0bd;

    --color-neutral-000-root: #fffaee;
    --color-neutral-100-root: #fdf6e3;
    --color-neutral-200-root: #f5eede;
    --color-neutral-300-root: #e0dbcb;
    --color-neutral-400-root: #afab9d;
    --color-neutral-500-root: #858177;
    --color-neutral-600-root: #66635a;
    --color-neutral-700-root: #4e4c45;
    --color-neutral-800-root: #302e2a;
    --color-neutral-900-root: #22211e;

    --color-neutral-900: var(--color-neutral-900-root);
    --color-neutral-800: var(--color-neutral-800-root);
    --color-neutral-700: var(--color-neutral-700-root);
    --color-neutral-600: var(--color-neutral-600-root);
    --color-neutral-500: var(--color-neutral-500-root);
    --color-neutral-400: var(--color-neutral-400-root);
    --color-neutral-300: var(--color-neutral-300-root);
    --color-neutral-200: var(--color-neutral-200-root);
    --color-neutral-100: var(--color-neutral-100-root);
    --color-neutral-000: var(--color-neutral-000-root);

    --color-urge-900: var(--color-urge-900-root);
    --color-urge-800: var(--color-urge-800-root);
    --color-urge-700: var(--color-urge-700-root);
    --color-urge-600: var(--color-urge-600-root);
    --color-urge-500: var(--color-urge-500-root);
    --color-urge-400: var(--color-urge-400-root);
    --color-urge-300: var(--color-urge-300-root);
    --color-urge-200: var(--color-urge-200-root);
    --color-urge-100: var(--color-urge-100-root);
    --color-urge-000: var(--color-urge-000-root);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-neutral-000: var(--color-neutral-900-root);
        --color-neutral-100: var(--color-neutral-800-root);
        --color-neutral-200: var(--color-neutral-700-root);
        --color-neutral-300: var(--color-neutral-600-root);
        --color-neutral-400: var(--color-neutral-500-root);
        --color-neutral-500: var(--color-neutral-400-root);
        --color-neutral-600: var(--color-neutral-300-root);
        --color-neutral-700: var(--color-neutral-200-root);
        --color-neutral-800: var(--color-neutral-100-root);
        --color-neutral-900: var(--color-neutral-000-root);

        --color-urge-000: var(--color-urge-900-root);
        --color-urge-100: var(--color-urge-800-root);
        --color-urge-200: var(--color-urge-700-root);
        --color-urge-300: var(--color-urge-600-root);
        --color-urge-400: var(--color-urge-500-root);
        --color-urge-500: var(--color-urge-400-root);
        --color-urge-600: var(--color-urge-300-root);
        --color-urge-700: var(--color-urge-200-root);
        --color-urge-800: var(--color-urge-100-root);
        --color-urge-900: var(--color-urge-000-root);
    }
}

:root {
    --border-radius-sm: none;
    --border-radius-default: none;
    --border-radius-md: none;
    --border-radius-lg: none;
    --border-radius-xl: none;

    --border-width-default: 2px;
    --border-width-2: 3px;
    --border-width-4: 5px;
    --border-width-8: 8px;

    font-size: 18px;

    --family-secondary: "Source Sans Pro", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --family-primary: var(--family-secondary);
}

.content a {
    transition: all 100ms ease-in;
    color: var(--color-urge-600-fallback) !important;
    text-decoration-color: var(--color-urge-300-fallback) !important;
}

.content a:hover {
    color: var(--color-urge-500-fallback) !important;
    text-decoration-color: var(--color-urge-200-fallback) !important;
}

.vertical {
    writing-mode: vertical-rl;
}

.sticky-top {
    position: sticky;
    top: 1rem;
}

#TableOfContents li a {
    padding: 0.25rem 0.5rem;
    transition: all 100ms ease-in;
    display: block;

    color: var(--color-neutral-400-fallback);
    border-left: 1.5px solid var(--color-neutral-400-fallback);
}

#TableOfContents li a.active {
    color: var(--color-neutral-600-fallback);
    border-left-color: var(--color-neutral-600-fallback);
    /* padding-left: 0.75rem; */
    border-left-width: 3px;
}

#TableOfContents ul {
    list-style: none;
    padding-left: 0;
}

.hover-rotate {
    transition: transform 100ms ease-in;
}

.hover-rotate:hover {
    transform: rotate(10deg);
}