<section class="-mt-1">
    <div>
        {{if (not (eq ($.Param "link") nil))}}
        <a href="{{ $.Param "link" }}">
            {{end}}
            {{if (not (eq ($.Param "icon") nil)) }}
            {{ $icon := resources.Get ($.Param "icon.url") | resources.Minify | resources.Fingerprint }}
            <img class="float-right h-32 hover-rotate pl-4" src="{{ $icon.Permalink }}" alt="{{ $.Param "icon.alt" }}">
            {{ end }}
            <h3 class="inline font-medium !leading-snug dark:text-white text-xl">
                {{ .Title | safeHTML }}
                {{if (not (eq ($.Param "link") nil))}}
                &nearr;
                {{end}}
            </h3>
            <h3 class="inline font-medium !leading-snug dark:text-neutral-400 text-neutral-400 text-xl">
                {{if (not (eq ($.Param "subtitle") nil))}}
                <br>{{ $.Param "subtitle" | safeHTML }}
                {{end}}
                {{ if (not (eq ($.Param "dateOverride") nil))}}
                <br>
                <span>
                    {{ $.Param "dateOverride" }}
                </span>
                {{ else if (not (eq ($.Param "date") nil))}}
                <br>
                <span>
                    {{ .Date.Format "Jan 2, 2006" }}
                </span>
                {{ end }}
            </h3>
            {{if (not (eq ($.Param "link") nil))}}
        </a>
        {{end}}
    </div>
</section>