{{ $title := cond (eq ($.Param "supertitle") nil) (printf `%s | %s` (default (truncate 64 .Summary) .Title) .Site.Title) ($.Param "supertitle") | htmlUnescape }}

<title>{{ $title }}</title>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="{{ default (truncate 160 ("&hellip;" | safeHTML) .Summary) .Description }}" />
<meta property="og:description" content="{{ default (truncate 160 ("&hellip;" | safeHTML) .Summary) .Description }}" />
<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ $title }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<link rel="canonical" href="https://miles.land{{ .Permalink }}" />
{{ if (not (eq ($.Param "redirect") nil)) }}
<meta http-equiv="refresh" content="0; URL={{ $.Param "redirect" }}" />
{{ end }}
{{ range .AlternativeOutputFormats -}}
{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $title | safeHTML }}
{{ end -}}
{{ $icon := resources.Get "images/avatar.jpg" | resources.Fingerprint }}
<link rel='icon' type='image/png' href='{{ $icon.Permalink }}' />
{{ if .Site.IsServer }}
{{ $seed := "weqklrjfmnk213409ufasdfhnlk3j4bladsfsl" }}
{{ $random := delimit (shuffle (split (md5 $seed) "" )) "" }}
{{ $style := resources.Get "styles/base.css" | resources.PostCSS | resources.ExecuteAsTemplate (printf "tailwind.dev.%s.css" $random) $random }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}" />
{{ else }}
{{ $style := resources.Get "styles/base.css" | resources.PostCSS | resources.Minify }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}" />
{{ end }}
{{ $script := resources.Get "scripts/base.js" | js.Build (dict "minify" true) | resources.Minify | resources.Fingerprint }}
<script async defer src="{{ $script.Permalink }}"></script>
{{ if ($.Param "mathjax") }}
<script async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{{ end }}