<li class="mb-12">
  <a {{ if (not (eq ($.Param "link") nil))}}href="{{ $.Param "link" }}" rel="nofollow noopener" {{else}} href="{{ .Permalink }}" {{end}}>
    {{ if .Title }}
    <h3 class="font-medium text-base text-neutral-800 dark:text-neutral-100 leading-normal mb-px">
    {{ .Title }}
    {{ if (eq ($.Param "highlightSubtitle") true) }}
    <span class="font-medium text-neutral-500 dark:text-neutral-400">
      &mdash; {{ $.Param "subtitle" }}
    </span>
    {{ end }}
    {{ else }}
    {{ .Summary }}
    {{ if .Truncated }}
    &rarr;
    {{ end }}
    {{ end }}
    {{ if (not (eq ($.Param "link") nil))}}&nearr;{{end}}
    </h3>
    
    <div class="text-base text-neutral-600 dark:text-neutral-400 mt-2 overflow-hidden font-serif" style="display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">
      {{ $content := .Summary | plainify | htmlUnescape }}
      {{ $firstSentence := index (split $content ".") 0 }}
      {{ if gt (len $firstSentence) 0 }}{{ $firstSentence }}.{{ else }}{{ $content | truncate 120 }}{{ end }}
    </div>
  </a>
</li>
