<li class="mb-4">
  <a {{ if (not (eq ($.Param "link") nil))}}href="{{ $.Param "link" }}" rel="nofollow noopener" {{else}} href="{{ .Permalink }}" {{end}} class="md:flex">
    <div class="md:w-9/12">
      <h3 class="heading text-base font-normal content">
      {{ if .Title }}
      {{ .Title }}
      {{ else }}
      {{ .Summary }}
      {{ if .Truncated }}
      &rarr;
      {{ end }}
      {{ end }}
      {{ if (not (eq ($.Param "link") nil))}}&nearr;{{end}}
      </h3>
      {{ range (.GetTerms "tags") }}
        <span class="badge ~neutral inline">{{ .LinkTitle }}</span>
      {{ end }}
    </div>
    <div class="support family-secondary md:w-3/12 md:text-right mt-1 md:mt-0 text-neutral-600">
      {{ .Date.Format "Jan 2, 2006" }}
    </div>
  </a>
</li>