{{ $currentPage := . }}
<nav class="mb-6 md:my-6 md:flex md:justify-between">
  <div>
    <h4>
      <a class="heading text-sm" style="border-bottom: none;"
      href="/">R. Miles McCain</a>
    </h4>
  </div>
  <div class="md:text-right">
    <ul class="-ml-2 md:ml-0">
      {{ range .Site.Menus.main }}
      <li class="portal text-sm {{ if hasPrefix $currentPage.RelPermalink .URL }} ~urge active {{ end }}">
        <a href="{{ .URL }}">
          {{ .Pre }}
          <span>{{ .Name }}</span>
          {{ .Post }}
        </a>
      </li>
      {{ end }}
    </ul>
  </div>
</nav>