{{ $currentPage := . }}
<nav class="flex justify-between w-full items-center md:block mb-12 md:mb-0" aria-label="navigation">
  <a class="flex justify-end md:w-full md:mb-12" href="/">
    {{ $img := resources.Get "images/avatar.jpg" | resources.Fingerprint }}
    <img class="rounded-full hover:rotate-45 transition-all h-8 w-8 md:h-12 md:w-12" alt="A circular photo of Miles; links to home." src="{{ $img.Permalink }}" />
  </a>
  <div class="text-right">
    <div class="md:text-right">
      <ul class="-ml-2 md:ml-0 flex md:flex-col gap-1">
        {{ range .Site.Menus.main }}
        <li class="self-end font-semibold {{ .Params.style }} px-2 rounded-full {{ if hasPrefix $currentPage.RelPermalink .URL }} {{ .Params.style_active }} {{ end }}">
          <a href="{{ .URL }}">
            {{ .Pre }}
            <span>{{ .Name }}</span>
            {{ .Post }}
          </a>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
</nav>